
<div class="container">
	<div class="row">
		<ul class="portfolio-area da-thumbs">
			<% @videos.each do |video| %>
				<li style='height:340px' class="portfolio-item2" data-id="id-0" data-type="web">
				<div class="span3">
					<div class="thumbnail">
						<div class="image-wrapp">
							<a href="/training/videos/<%= video['url_stub'] %>">
								<img src="<%= video['thumbnail_url'] %>" 
										 title="<%= video['youtube_title'] %>" 
										 style='height:203px'/>
							</a>
						</div>
						<div class="caption">
							<h4>
								<a href="/training/videos/<%= video['url_stub'] %>">
									<%= video['youtube_title'] %>
								</a>
							</h4>
						</div>
					</div>
				</div>
				</li>
			<% end %>		
		</ul>
	</div>
</div>
</section>