
<section id="subintro">
<div class="jumbotron subhead" id="overview">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h3><i class="m-icon-big-swapright m-icon-white"></i> <%= @video['youtube_title'] %></h3>
			</div>
			<div class="span4">
				<div class="input-append">
					<form class="form-search">
						<input type="text" class="input-medium search-query">
						<button type="submit" class="btn btn-inverse">Search</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<section id="maincontent">
<div class="container">
	<div class="row" style='margin-top:-35px'>
		<div class="span8">
			<!-- start article full post -->
			<article class="blog-post">
				<iframe width="100%" height="450px" style='margin-bottom:20px;' src="//www.youtube.com/embed/<%= @video['youtube_id'] %>" frameborder="0" allowfullscreen></iframe>
			<div class="clearfix">
			</div>
			</article>
			<!-- end article full post -->
			<h4>Comments</h4>

			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			    var disqus_shortname = 'zenterp'; // required: replace example with your forum shortname
			    var disqus_identifier = "<%= @video['_id'] %>";

			    /* * * DON'T EDIT BELOW THIS LINE * * */
			    (function() {
			        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			
		</div>
		<div class="span4">
			<aside>
			<div class="widget">

				<h4 style='width:50%;float:left;text-align:center;'class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;Donate</h4>

				<img style='width:45%;float:right' src="http://qrfree.kaywa.com/?l=1&s=8&d=bitcoin%3A13YyFhXWuw4Ug2dVL8hckxEoESjC8PPmuG" alt="QRCode"/>

				<img style='width:50%;float:left' src="/bitcoin_accepted_here.png" class="alignleft" alt="" />
				<div class='clearfix'></div>
				<p>bitcoin:13YyFhXWuw4Ug2dVL8hckxEoESjC8PPmuG</p>


				<p style='float:left'>
					 Your donations indicate to me which technologies you want to conquer and where to direct my focus. Your support enables me to contribute more and more time teaching, writing and creating videos, and building a community of creative individuals like us. Thank you!
				</p>

				<div class='clearfix'></div>

			</div>
			<div class="clearfix">
			</div>
			<div class="widget">
				<h4 class="heading-success"><span class="btn btn-large btn-success"><i class="m-icon-big-swapdown m-icon-white"></i></span>&nbsp;&nbsp;About Me</h4>
				<img style='border-radius:50%' src="https://en.gravatar.com/userimage/17222215/4de44f511ea2e0ba09a207efa7bef931.jpeg" class="alignleft" alt="" />
				<h5>Software Architect at Schematic Labs in San Francisco</h5>
				<p>
					 Hello my name is Steven Zeiler, I am a technologist, linguist and programmer and I love learning, building, and teaching inspiring technologies.
				</p>
			</div>
			<div class="clearfix">
			</div>
			<div class="widget">
				<ul id="myTab" class="nav nav-tabs">
					<li class="active"><a href="#recent" data-toggle="tab">Latest</a></li>
					<li><a href="#popular" data-toggle="tab">Popular</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="recent">
						<ul class="recent">
							<% @latest.each do |video| %>
							  <li>
							    <a href="/training/videos/<%= video['url_stub'] %>"><img style='width:50px; float:left;'src="<%= video['thumbnail_url'] %>" alt="" /></a>
							    <h6><a href="/training/videos/<%= video['url_stub'] %>"><%= video['youtube_title'] %></a></h6>
							  </li>
							<% end %>
						</ul>
					</div>
					<div class="tab-pane fade" id="popular">
						<ul class="recent">
							<% @popular.each do |video| %>
							  <li>
							    <a href="/training/videos/<%= video['url_stub'] %>"><img style='width:50px; float:left;'src="<%= video['thumbnail_url'] %>" alt="" /></a>
							    <h6><a href="/training/videos/<%= video['url_stub'] %>"><%= video['youtube_title'] %></a></h6>
							  </li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
			</aside>
		</div>
	</div>
</div>
</section>