<li class="portfolio-item2" data-id="id-0" data-type="web">
<div class="span3">
	<div class="thumbnail">
		<div class="image-wrapp">
			<img src="<%= video.image_path %>" alt="Portfolio name" title="" />
			<article class="da-animate da-slideFromRight" style="display: block;">
			<!--<a class="link_post" href="/research/videos/<%= video.id %>"><img src="assets/img/icons/link_post_icon.png" alt="" /></a>-->
			<span><a class="zoom" data-pretty="prettyPhoto" href="<%= video.url %>"><img src="assets/img/icons/zoom_icon.png" alt="" title="Portfolio name" /></a></span>
			</article>
		</div>
		<div class="caption">
			<h4><a href="<%= video.url %>"><%= video.title %></a></h4>
			<p><%= video.description %></p>
		</div>
	</div>
</div>
</li>